body {
  background-color: #967BC9;
  font-family: 'Yu Gothic', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0; 
  padding: 0; 
  overflow-x: hidden; 
  box-sizing: border-box; 
  height: 400vh;

}

.input-1{
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 15px;
}

.day-style{
  background-color: lightcoral;
}

.input-2{
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 15px;
}

#day-week-value {
  padding: 15px;
  border-radius: 30px;
}

#day-number-value {
  padding: 15px;
  border-radius: 30px;
}
.app-title {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  margin-right: 50px;
}




.habit-title {
  color: #fff;
  background-color: #333;
  border-radius: 25px;
  padding: 10px 20px;
  display: inline-block;
  margin: 20px 0;
}

.week-counter {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

}

#seg-date{
  margin: 20px;
  border-left: solid 1px grey;
  padding: 10px;
}

#time {
  margin: 30px;
  border-left: solid 1px grey;
  padding: 10px;
}

#status{
  margin: 30px;
  border-left: solid 1px grey;
  padding: 10px;
}

.day-style{
  margin: 40px;
  background-color: pink;
  padding: 30px;
  border-radius: 30px;

}

#seg{
  margin: 0;
  font-size: 30px;
  color: #333;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  

  
  align-items: center; /* Center items vertically if needed */
  padding: 20px; /* Optional: Add padding around the container */
  box-sizing: border-box; /* Ensure padding is included in total width */

}

#ter{
  margin: 0;
  font-size: 30px;
  color: #333;
  text-align: center;
  margin: 20px;
}

#qua{
  margin: 0;
  font-size: 30px;
  color: #333;
  text-align: center;
  margin: 20px;
}

#qui{
  margin: 0;
  font-size: 30px;
  color: #333;
  text-align: center;
  margin: 20px;
}

#sex{
  margin: 0;
  font-size: 30px;
  color: #333;
  text-align: center;
  margin: 20px;
}

#sab{
  margin: 0;
  font-size: 30px;
  color: #333;
  text-align: center;
  margin: 20px;
}

#dom{
  margin: 0;
  font-size: 30px;
  color: #333;
  text-align: center;
  margin: 20px;
}
.seg-check{
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: grey;
  border: 2px solid transparent;
}

.ter-check{
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: grey;
  border: 2px solid transparent;
}

.qua-check{
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: grey;
  border: 2px solid transparent;
}

.qui-check{
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: grey;
  border: 2px solid transparent;
}

.sex-check{
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: grey;
  border: 2px solid transparent;
}

.sab-check{
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: grey;
  border: 2px solid transparent;
}

.dom-check{
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: grey;
  border: 2px solid transparent;
}




#button-done, #button-undone {
  display: block;
  margin: 5px auto;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

#button-done:hover, #button-undone:hover {
  background-color: #555;
}

.maestry-container {
  text-align: center;
  margin-top: 20px;
}

.maestry {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.red-light {
  background-color: #e74c3c;
  height: 20px;
  width: 30px;
  border-radius: 120px;
  margin: 10px auto;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}

#start-button{
  border-radius: 1000px;
  padding: 10px;
  background-color: blue;
  color: white;
  margin: 13px;
}

#unfinished{
  border-radius: 1000px;
  padding: 10px;
  background-color: orange;
  color: white;
  margin: 13px;
}

#end-button{
  border-radius: 1000px;
  padding: 10px;
  background-color: green;
  color: white;
  margin: 13px;
}



#not-done{
  border-radius: 1000px;
  padding: 10px;
  background-color: darkred;
  color: white;
  margin: 13px;
}




